<div class="card" style="width: 18rem;">
<img src="https://img1.gadgetsnow.com/gd/images/products/additional/large/G376926_View_1/computer-laptop/laptops/msi-gf63-11uc-850in-11th-gen-intel-core-i7-11800h-15-6-inches-gaming-laptop-8gb-512gb-ssd-windows-10-black-1-86-kg-.jpg" class="card-img-top" alt="...">

<div id="<%= dom_id laptop %>">
  <ul class="list-group list-group-flush">
  <p>
    <strong class="list-group-item">Name:
    <%= laptop.name %>
    </strong>
  </p>

  <p>
    <strong class="list-group-item">Price:
    <%= laptop.price %>
    </strong>
  </p>

  <p>
    <strong class="list-group-item">Brand:
    <%= laptop.brand %>
    </strong>
  </p>

  <p>
    <strong class="list-group-item">Offfer:
    <%= laptop.offfer %>
    </strong>
  </p>
 </ul>
</div>


</div>