<p style="color: green"><%= notice %></p>

<%= render @laptop %>

<div>
  <%= link_to "Edit this laptop", edit_laptop_path(@laptop) ,class:"btn btn-dark"%> 
  <%= link_to "Back to laptops", laptops_path ,class:"btn btn-dark"%>

  <%= button_to "Destroy this laptop", @laptop, method: :delete ,class:"btn btn-danger"%>
</div>
